body{}
body header{ padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
body header .container{}
body header .container{
    width: 1200px;
    background-color: #000000;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
body header .container .left-side{}
body header .container .right-side{}
body header .container .left-side img{}
body header .container .right-side a{
    text-decoration: none;
    color: #ebc45c;
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
    text-transform: uppercase;
}

#banner{

    width: 1300px;
    background-color: #ee0bdf;
    margin: 10px auto;
    padding: 20px;
}
#banner h1{
    text-align:left;
    font-size: 70px;
    color: #e5bf59;
}
#banner h1 span{
    color: #764612;
}
#banner span{}
#banner img{}

/* successfyl section*/
#successful{}
#successful .left-side{}
#successful .left-side h2{}
#successful .left-side p{}
#successful .right-side h2{}body{}
body header{ padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
body header .container{}
body header .container{
    width: 1200px;
    background-color: #000000;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
body header .container .left-side{}
body header .container .right-side{}
body header .container .left-side img{}
body header .container .right-side a{
    text-decoration: none;
    color: #ebc45c;
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
    text-transform: uppercase;
}

#banner{

    width: 1300px;
    background-color: #ee0bdf;
    margin: 10px auto;
    padding: 20px;
}
#banner h1{
    text-align:left;
    font-size: 70px;
    color: #e5bf59;
}
#banner h1 span{
    color: #764612;
}
#banner span{}
#banner img{}

/* successfyl section*/
#successful{
    width: 1300px;
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#successful .left-side{
    width: 45%;
    /* background: red; */
    text-align: right;
}
#successful .left-side h2{
    color: #e5bf59;
    font-size: 50px;
}
#successful .left-side p{
    color: #e5bf59;
    font-size: 30px;
}
#successful .right-side{
    width: 45%;
    /* background: pink; */
}
#successful .right-side h2{
    color: #764612;
    font-size: 50px;
}
#card{
    width: 1300px;
    background: #a9c7da;
    margin: 50px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
}
#card .card-item{
    background: #ee0bdf;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    color: #764612;
    transition: background-color 1s;
}
#card .card-item img{
    max-width: 100%;
    height: 500px;
    margin: 20px;
}
#card .card-item h3{}
#card .card-item p{}

#card .card-item:hover{
    background-color: #fff;
    cursor: pointer;
    /* last section*/
}
footer{
    padding: 50px 0;
}
footer .container{
    width: 1200px;
    background: #fff;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
footer .container .box{}
footer .container a{
    display: block;
    text-decoration: none;
    color: rgb(6, 252, 88);
    font-weight: 700;
    font-size: 20px;
}
footer .container .box a:first-child{
    font-size: 30px;
    font-weight: 900;
    color: #764612;
    margin-bottom: 20px;
}